# Ignore everything

**

# Except these files and directories

!swLlamaBot.py
!FAISSvectorstore/
!.env
!swBotAPI_Runpod.py
!swLorebotLinux.yml
!conda-lock.yml

# Include everything inside these directories

!FAISSvectorstore/**
